For Loop
--------

In [1]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [3]:
# To Find Add Numbers

for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [5]:
# To Find Eve Numbers

for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [7]:
for i in range(2):
    name = input('Enter your Name : ')
    age = int(input('Enter your Age : '))

    print('-------------------')

    print(name, ' age is ', age)
    print('')

Enter your Name :  selva
Enter your Age :  22

-------------------
selva  age is  22

Enter your Name :  Kumar
Enter your Age :  23

-------------------
Kumar  age is  23

In [12]:
for i in range(10):
    print(i, end=', ')

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

In [ ]:
'''
Q1
To Write the Python code for Below output using for Loop

1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10

Q2
To Write the Python code for Below output using for Loop

1. selva  age is  22
2. Kumar  age is  23
3. selva  age is  22
4. Kumar  age is  23

Q3
To Write the Python code (Fibbonasi Series) for Below output using for Loop or While Loop

0, 1, 1, 2, 3, 5, 8


'''