Set
---

1. Set is a Collection of Data Type
2. Declare with in { }
3. It's used for store multiple values and Diffrent Data type values can store in a single variable.
4. It's Values are store non index based.
5. It's Used for Remove Duplicate values

In [3]:
age = {10,20,15,25,10,35,30,25,40,30,20,15,35,30}

print(age, type(age))

{35, 20, 40, 25, 10, 30, 15} <class 'set'>

Copy
----

In [8]:
details = {101, 'selva', 25, 'selva', 25, }

print(details)

studentDetals = details

print(studentDetals)

# Add a values in Set Data Type Variable

studentDetals.add('TamilNadu')

print(studentDetals)
print(details)

print('-----------------------------------------------------------------')

details = {101, 'selva', 25, 'selva', 25, }

print(details)

studentDetals = details.copy()

print(studentDetals)

# Add a values in Set Data Type Variable

studentDetals.add('TamilNadu')

print(studentDetals)
print(details)

{25, 'selva', 101}
{25, 'selva', 101}
{25, 'selva', 'TamilNadu', 101}
{25, 'selva', 'TamilNadu', 101}
-----------------------------------------------------------------
{25, 'selva', 101}
{25, 'selva', 101}
{25, 'selva', 'TamilNadu', 101}
{25, 'selva', 101}

Add two set Datatype Variables
------------------------------

In [12]:
studentDetails = {101, 'selva', 25}

collegeDetails = {"St Joseph's College", 'Trichy'}

print(studentDetails)

print(collegeDetails)

print('-----------------------------------------------------------------')

studentDetails.update(collegeDetails)

print(studentDetails)

{25, 'selva', 101}
{'Trichy', "St Joseph's College"}
-----------------------------------------------------------------
{'Trichy', 'selva', 101, "St Joseph's College", 25}

Delete the values from the Given Set
------------------------------------

In [15]:
studentDetails = {101, 'selva', 25, "St Joseph's College", 'Trichy'}

print(studentDetails)

print('-----------------------------------------------------------------')
# Use Remove Function

studentDetails.remove('Trichy')

print(studentDetails)

print('-----------------------------------------------------------------')
# Use Discard Function

studentDetails.discard(25)

print(studentDetails)

{'Trichy', 'selva', 101, "St Joseph's College", 25}
-----------------------------------------------------------------
{'selva', 101, "St Joseph's College", 25}
-----------------------------------------------------------------
{'selva', 101, "St Joseph's College"}

Difference Between discard & remove
-----------------------------------

In [22]:
studentDetails = {101, 'selva', 25, "St Joseph's College", 'Trichy'}

print(studentDetails)

print('-----------------------------------------------------------------')
# Use Discard Function

# Example 01
studentDetails.discard(25)

print(studentDetails)

print('--------------------------')

# Example 02
studentDetails.discard(9500912258)

print(studentDetails)

print('-----------------------------------------------------------------')

studentDetails = {101, 'selva', 25, "St Joseph's College", 'Trichy'}

# Use Remove Function

# Example 01
studentDetails.remove("Trichy")

print(studentDetails)

print('--------------------------')

# Example 02
studentDetails.remove(9500912258)

print(studentDetails)

{'Trichy', 'selva', 101, "St Joseph's College", 25}
-----------------------------------------------------------------
{'Trichy', 'selva', 101, "St Joseph's College"}
--------------------------
{'Trichy', 'selva', 101, "St Joseph's College"}
-----------------------------------------------------------------
{'selva', 101, "St Joseph's College", 25}
--------------------------

KeyError: 9500912258

Union, Intersection, symmetrcDifference
---------------------------------------

In [2]:
# Union

set1 = {1,2,3,4,5,6,1,2}

set2 = {6,7,8,9,10,3,4}

print(set1)

print(set2)

print('---------------------------------------------')

unionValues = set1.union(set2)

print(unionValues)

print('---------------------------------------------')

print(set1)

print(set2)

{1, 2, 3, 4, 5, 6}
{3, 4, 6, 7, 8, 9, 10}
---------------------------------------------
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
---------------------------------------------
{1, 2, 3, 4, 5, 6}
{3, 4, 6, 7, 8, 9, 10}

In [3]:
# Intersection

set1 = {1,2,3,4,5,6,1,2}

set2 = {6,7,8,9,10,3,4}

intersetionValues = set1.intersection(set2)

print(intersetionValues)

{3, 4, 6}

In [4]:
# Symmetric_difference

set1 = {1,2,3,4,5,6,1,2}

set2 = {6,7,8,9,10,3,4}

symmetric_differenceValues = set1.symmetric_difference(set2)

print(symmetric_differenceValues)

{1, 2, 5, 7, 8, 9, 10}