Conditional Statements :
------------------------

1. If
2. If Else
3. If Elif Else
4. Nested If

Loop Statement:
---------------

1. While Loop
2. For Loop
3. Nested Loop

Python Input:
-------------

In [3]:
name = input('Enter your Name : ')

print(name)

Enter your Name :  selva

selva

In [4]:
age = int(input('Enter your age : '))

print(age)

print('-----------------------------------')

print('To Find the Birth Of year : ', 2025 - age )

Enter your age :  26

26
-----------------------------------
To Find the Birth Of year :  1999

# 1. If
-------

In [26]:
mark1 = int(input('Enter a mark1 Value : '))

mark2 = int(input('Enter a mark2 Value : '))

mark3 = int(input('Enter a mark3 Value : '))

print('---------------------------------')

print('Mark1 : ', mark1, 'Mark2 : ', mark2, 'Mark3 : ', mark3)

print('---------------------------------')

print(mark1 >= 35)

print(mark2 >= 35)

print(mark3 >= 35)

print('---------------------------------')

print(mark1 >= 35 and mark2 >= 35 and mark3 >= 35)

Enter a mark1 Value :  100
Enter a mark2 Value :  20
Enter a mark3 Value :  15

---------------------------------
Mark1 :  100 Mark2 :  20 Mark3 :  15
---------------------------------
True
False
False
---------------------------------
False

In [13]:
# Use Single Condition in If Statement

if mark1 >= 35:
    print('The Student have Pass the Subject')

The Student have Pass the Subject

In [14]:
# Use Multiple Conditions in If Statement

if (mark1 >= 35 and mark2 >= 35 and mark3 >= 35):
    print('The Student have Pass the Over all Subject')

# 2. If Else
------------

In [17]:
if (mark1 >= 35 and mark2 >= 35 and mark3 >= 35):
    print('The Student have Pass the Over all Subject')

else:
    print('The Stedent have Fail the Any One of the subjects')

The Student have Pass the Over all Subject

# 3. Nested If
--------------

In [23]:
# Example 01
#-----------

if (mark1 >= 35 and mark2 >= 35 and mark3 >= 35):
    print('The Student have Pass the Over all Subject')

    toatl = mark1 + mark2 + mark3

    average = toatl / 3

    print('Total : ', toatl)

    print('Average : ', average)

    # 90 above and 100 below(90 - 100)
    if (average >= 90 and average <= 100):
        print('A+ Grade')

    else:
        print('D Grade')

else:
    print('The Stedent have Fail the Any One of the subjects')

The Student have Pass the Over all Subject
Total :  210
Average :  70.0
D Grade

In [28]:
# Example 02
#-----------

if (mark1 >= 35 and mark2 >= 35 and mark3 >= 35):
    print('The Student have Pass the Over all Subject')

    toatl = mark1 + mark2 + mark3

    average = toatl / 3

    print('Total : ', toatl)

    print('Average : ', average)

    # 90 above and 100 below(90 - 100)
    if (average >= 90 and average <= 100):
        print('A+ Grade')

    else:
        print('D Grade')

else:
    print('The Stedent have Fail the Any One of the subjects')

    if (mark1 <= 35):
        print('Mark 01 : ', mark1, 'So You are fail')

    if (mark2 <= 35):
        print('Mark 02 : ', mark2, 'So You are fail')

    if (mark3 <= 35):
        print('Mark 03 : ', mark3, 'So You are fail')

The Stedent have Fail the Any One of the subjects
Mark 02 :  20 So You are fail
Mark 03 :  15 So You are fail

In [ ]:
'''
ToDay Task

To Create Pass or Fail Statements Use If, If Else, Nested If based On Above Functionalities

For Subjects Like (Tamil, English, Maths, Science, SocialScience)

To give a Both Positive Output(To Find Total Average and Grade) and Negative Output (Fail, Number Of Fail Subjetc Like Above Functionalities)
'''

In [ ]:
# 4. If Elif Else

total = int(input('Enter your Total Mark with in 500 : '))

average = total / 5

print(average, '-',average >= 90, ' and ', average <= 100, ' : ', average >= 90 and average <= 100)

print(average, '-',average >= 80, ' and ', average <= 90, ' : ', average >= 80 and average <= 90)

print(average, '-',average >= 70, ' and ', average <= 80, ' : ', average >= 70 and average <= 80)


print('----------------------------------------------')

if (average >= 90 and average <= 100): 
    print('A+ Grade')
elif (average >= 80 and average <= 90):
    print('B+ Grade')
elif (average >= 70 and average <= 80):
    print('C+ Grade')
else:
    print('D Grade')

In [5]:
# 4. If Elif Else

total = int(input('Enter your Total Mark with in 500 : '))

average = total / 5

print(average, '-',average >= 90, ' and ', average <= 100, ' : ', average >= 90 and average <= 100)

print(average, '-',average >= 80, ' and ', average <= 90, ' : ', average >= 80 and average <= 90)

print(average, '-',average >= 70, ' and ', average <= 80, ' : ', average >= 70 and average <= 80)

print(average, '-',average >= 50)

print('----------------------------------------------')

if (average >= 90 and average <= 100): 
    print('A+ Grade')
elif (average >= 80 and average <= 90):
    print('B+ Grade')
elif (average >= 70 and average <= 80):
    print('C+ Grade')
elif (average >= 50):
    print('D+ Grade')
else:
    print('D Grade')

Enter your Total Mark with in 500 :  190

38.0 - False  and  True  :  False
38.0 - False  and  True  :  False
38.0 - False  and  True  :  False
38.0 - False
----------------------------------------------
D Grade