# Loop Statement
----------------

1. While Loop
2. For Loop

# 1. While Loop
----------------

In [4]:

i = 0

while i < 10:
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9

In [5]:
# To Print Even numbers

i = 0

while i < 10:
    print(i)
    i = i + 2

0
2
4
6
8

In [6]:
# To Print Odd numbers

i = 1

while i < 10:
    print(i)
    i = i + 2

1
3
5
7
9

In [9]:
i = 1

n = int(input('Enter a Limit value : '))

while i < n:
    print(i)
    i = i + 2

Enter a Limit value :  15

1
3
5
7
9
11
13

In [ ]:
'''
To Write the Python Code for Below Output using While Loop
----------------------------------------------------------
1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10
'''

In [11]:
i = 1

n = 5

t = 2

while i <= n:
    result = i * t

    print(i, ' * ', t, ' = ', result)

    i = i + 1

1  *  2  =  2
2  *  2  =  4
3  *  2  =  6
4  *  2  =  8
5  *  2  =  10

In [ ]:
'''
ToDay Task
----------

Question 01:
To Write the Python Code for Below Output using While Loop

Enter a Table value : 3

Enter a Table Limt value : 4

1 * 3 = 3
2 * 3 = 6
3 * 3 = 9
4 * 3 = 12


Question 02:
To Write the Python Code for Below Output using While Loop

Enter a Table value : 3

Enter a Table Limt value : 4

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12

'''