Tuple
-----

1. Tuple is a Collection of Data Type
2. Declare with in ( )
3. It's used for store multiple values and Diffrent Data type values can store in a single variable.
4. It's Values are store index based.
5. Tuple is a immutable

In [1]:
age = (18,20,10,30,26,49)

print(age, type(age))

(18, 20, 10, 30, 26, 49) <class 'tuple'>

TypeCasting
-----------

In [6]:
totalMark = 350

average = 90.5

print(totalMark, type(totalMark))

print(average, type(average))

print('-----------------------------------------------------')

totalMark = float(totalMark)

average = int(average)

print(totalMark, type(totalMark))

print(average, type(average))

350 <class 'int'>
90.5 <class 'float'>
-----------------------------------------------------
350.0 <class 'float'>
90 <class 'int'>

Change the Tuple DataType Values using Type Casting(List) Method
----------------------------------------------------------------

In [10]:
age = (18,20,10,30,26,49)

print(age, type(age))

print('-----------------------------------------------------')

age = list(age)

print(age, type(age))

print('-----------------------------------------------------')

age.append('admin')

age[1] = 'TN'

print(age, type(age))

print('-----------------------------------------------------')

age = tuple(age)

print(age, type(age))

(18, 20, 10, 30, 26, 49) <class 'tuple'>
-----------------------------------------------------
[18, 20, 10, 30, 26, 49] <class 'list'>
-----------------------------------------------------
[18, 'TN', 10, 30, 26, 49, 'admin'] <class 'list'>
-----------------------------------------------------
(18, 'TN', 10, 30, 26, 49, 'admin') <class 'tuple'>