List
----

1. List is a Collection of Data Type
2. Declare with in [ ]
3. It's used for store multiple values and Diffrent Data type values can store in a single variable.
4. It's Values are store index based.

In [5]:
age = 20

print(age, type(age))

20 <class 'int'>

In [3]:
ageValues = [10, 20, 30, 18, 25, 28]

print(ageValues, type(ageValues))

[10, 20, 30, 18, 25, 28] <class 'list'>

In [7]:
# For Loop

for i in ageValues:
    print(i)

10
20
30
18
25
28

In [8]:
# List Manipulation

print(ageValues[2:4])

[30, 18]

In [10]:
# If 

age = 70

if age in ageValues:
    print(age, 'is There')
else:
    print(age, 'is not There')

70 is not There

Sort
----

1. smallest values to largest values
2. largest values to smallest values

In [11]:
print(ageValues)

[10, 20, 30, 18, 25, 28]

In [12]:
# smallest values to largest values

ageValues.sort()

print(ageValues)

[10, 18, 20, 25, 28, 30]

In [13]:
# largest values to smallest values

ageValues.sort(reverse=True)

print(ageValues)

[30, 28, 25, 20, 18, 10]

In [19]:
# Sorting String Values

names = ['sa', 'tara', 'sara dev', 'sri', 'kowsalya', 'deepa']

print(names, type(names))

# a -> z sorting 
names.sort()

print(names)

# sorting Key length values

names.sort(key = len)

print(names)

['sa', 'tara', 'sara dev', 'sri', 'kowsalya', 'deepa'] <class 'list'>
['deepa', 'kowsalya', 'sa', 'sara dev', 'sri', 'tara']
['sa', 'sri', 'tara', 'deepa', 'kowsalya', 'sara dev']

In [14]:
studentDetails = [101, 'Sara', 25, 9500912258, 'TN']

print(studentDetails, type(studentDetails))

[101, 'Sara', 25, 9500912258, 'TN'] <class 'list'>

In [15]:
print(studentDetails[1])

Sara

In [ ]:
'''
ToDay Task:
-----------

Q1. 
To write the python code for below output using Python List

Id : 101
Name : Sara
Age : 25
Mobile : 9500912258
State : TN

Q2.
To write the python code for below output using Python List

[30, 28, 25, 20, 18, 10]

Odd age values:
25

Even age values:
10, 18, 20, 28, 30

'''

List Function:
--------------

In [9]:
ageValues = [12, 20, 30, 18, 25, 28, 25, 18, 35, 25]

print(ageValues)

[12, 20, 30, 18, 25, 28, 25, 18, 35, 25]

In [10]:
print(len(ageValues))

10

In [11]:
# To Find the count 25 in given variable

print(ageValues.count(25))

3

In [12]:
# To find the indexvalue 25 in given variable

print(ageValues.index(25))

4

In [13]:
# To find the minimum value of given variable

print(min(ageValues))

12

In [14]:
# To find the maximum value of given variable

print(max(ageValues))

35

In [15]:
print(sum(ageValues))

236

Change the Values:
------------------

In [19]:
studentDetails = [101, 'Sara', 25, 9500912258, 'TN']

print(studentDetails, type(studentDetails))

[101, 'Sara', 25, 9500912258, 'TN'] <class 'list'>

In [20]:
# To change the values Sara to Sara Dev

studentDetails[1] = 'Sara Dev'

print(studentDetails)

[101, 'Sara Dev', 25, 9500912258, 'TN']

In [21]:
# To add the a single value in studentDetails variable

studentDetails.append('Female')
studentDetails.append(10)

print(studentDetails)

[101, 'Sara Dev', 25, 9500912258, 'TN', 'Female', 10]

In [22]:
# To add the Another variable values in studentDetails variable

values = ['Mathematics', 10001, 'India']

studentDetails.extend(values)

print(studentDetails)

[101, 'Sara Dev', 25, 9500912258, 'TN', 'Female', 10, 'Mathematics', 10001, 'India']

In [23]:
# To Insert the Dindigul values in before TN values

studentDetails.insert(4, 'Dindigul')

print(studentDetails)

[101, 'Sara Dev', 25, 9500912258, 'Dindigul', 'TN', 'Female', 10, 'Mathematics', 10001, 'India']

Delete the particular Values
----------------------------

In [24]:
print(studentDetails)

[101, 'Sara Dev', 25, 9500912258, 'Dindigul', 'TN', 'Female', 10, 'Mathematics', 10001, 'India']

In [25]:
# To delete the last index value

studentDetails.pop()

print(studentDetails)

[101, 'Sara Dev', 25, 9500912258, 'Dindigul', 'TN', 'Female', 10, 'Mathematics', 10001]

In [26]:
# To delete the Separate index value

studentDetails.pop(2)

print(studentDetails)

[101, 'Sara Dev', 9500912258, 'Dindigul', 'TN', 'Female', 10, 'Mathematics', 10001]

In [27]:
# To delete the Separate value

studentDetails.remove('TN')

print(studentDetails)

[101, 'Sara Dev', 9500912258, 'Dindigul', 'Female', 10, 'Mathematics', 10001]

In [ ]:
'''
ToDay Task:
-----------

Q1.
To write the python code for beolow output. Using List Functions

[12, 20, 30, 18, 25, 28, 25, 18, 35, 25]

Unique Values are:
[12, 30, 28, 35, 20]

Douplicate values are:
[18, 25]

Values Count for number of times:

12 - 1
20 - 1
30 - 1
18 - 2
25 - 3
28 - 1
35 - 1

25's values Index Positions - [4, 6, 9]

'''