Dictionary
----------

1. Dictionary is a Collection of Data Type
2. Declare with in {key : values}
3. It's used for store multiple values and Diffrent Data type values can store in a single variable.
4. It's Values are store non index based It access Key Based
5. It's Used for Remove Duplicate values also

In [9]:
user = {'name': 'Sara', 'age': 25, 'gender': 'male'}

print(user, type(user))

{'name': 'Sara', 'age': 25, 'gender': 'male'} <class 'dict'>

In [14]:
print(user['name'])

print(user['age'])

print(user['gender'])

Sara
25
male

In [16]:
user = {'name': 'Sara', 'age': 25, 'gender': 'male'}

print(user, type(user))

print('----------------------------------------------------------')

for i in user:
    print(i, ' - ', user[i])

{'name': 'Sara', 'age': 25, 'gender': 'male'} <class 'dict'>
----------------------------------------------------------
name  -  Sara
age  -  25
gender  -  male

In [41]:
user = {'name': 'Sara', 'age': 25, 'gender': 'male'}

print(user, type(user))

print('----------------------------------------------------------')

for i in user.keys():
    print(i)

{'name': 'Sara', 'age': 25, 'gender': 'male'} <class 'dict'>
----------------------------------------------------------
name
age
gender

In [18]:
print(user.keys())

print(user.values())

print(user.items())

dict_keys(['name', 'age', 'gender'])
dict_values(['Sara', 25, 'male'])
dict_items([('name', 'Sara'), ('age', 25), ('gender', 'male')])

Add Values
----------

In [21]:
# Add values for given Dictionary Variable

user = {'name': 'Sara', 'age': 25, 'gender': 'male'}

print(user, type(user))

print('----------------------------------------------------------')

user.update({'married': 'No'})

print(user)

print('----------------------------------------------------------')

bankDetails = {'bankName': 'HDFC', 'AccNumber': 1234567890}

user.update(bankDetails)

print(user)

{'name': 'Sara', 'age': 25, 'gender': 'male'} <class 'dict'>
----------------------------------------------------------
{'name': 'Sara', 'age': 25, 'gender': 'male', 'married': 'No'}
----------------------------------------------------------
{'name': 'Sara', 'age': 25, 'gender': 'male', 'married': 'No', 'bankName': 'HDFC', 'AccNumber': 1234567890}

Change the Values
-----------------

In [22]:
user = {'name': 'Sara', 'age': 25, 'gender': 'male'}

print(user, type(user))

print('----------------------------------------------------------')

user['name'] = 'Developer'

print(user)

{'name': 'Sara', 'age': 25, 'gender': 'male'} <class 'dict'>
----------------------------------------------------------
{'name': 'Developer', 'age': 25, 'gender': 'male'}

Remove Values
-------------

In [37]:
user = {'name': 'Sara', 'age': 25, 'gender': 'male'}

print(user, type(user))

print('----------------------------------------------------------')

user.pop('gender')

print(user)

{'name': 'Sara', 'age': 25, 'gender': 'male'} <class 'dict'>
----------------------------------------------------------
{'name': 'Sara', 'age': 25}

Declare Complex values in Dictionary
------------------------------------

In [40]:
users = {
    'user1': {'name': 'Sara', 'age': 25, 'gender': 'Male'},
    'user2': {'name': 'Developer', 'age': 28, 'gender': 'Female'},
    'user3': {'name': 'Tara', 'age': 22, 'gender': 'Female'}
}

print(users, type(users))

print('----------------------------------------------------------')

print('User 01 Name : ', users['user1'] ['name'])

print('User 01 Age : ', users['user1'] ['age'])

print('----------------------------------------------------------')

print('User 02 Name : ', users['user2'] ['name'])

print('User 02 Age : ', users['user2'] ['age'])

print('----------------------------------------------------------')

print('User 03 Name : ', users['user3'] ['name'])

print('User 03 Age : ', users['user3'] ['age'])

{'user1': {'name': 'Sara', 'age': 25, 'gender': 'Male'}, 'user2': {'name': 'Developer', 'age': 28, 'gender': 'Female'}, 'user3': {'name': 'Tara', 'age': 22, 'gender': 'Female'}} <class 'dict'>
----------------------------------------------------------
User 01 Name :  Sara
User 01 Age :  25
----------------------------------------------------------
User 02 Name :  Developer
User 02 Age :  28
----------------------------------------------------------
User 03 Name :  Tara
User 03 Age :  22