Operators :
-----------

    1. Arithmatic Operators
    2. Assignment Operators
    3. Relational or comparision Operators
    4. Logical Operators
    5. In, Not In
    6. Is, IS Not
    7. Bitwise Operators

# 1. Arithmatic Operators :
---------------------------

In [11]:
a = 10

b = 2

print('Addition ( + ):', a + b)

print('Subtraction ( - ):', a - b)

print('Multiplication ( * ) :', a * b)

print('Division ( / ) :', a / b) # Return Quotient Value

print('Modulas ( % ) :', a % b) # Return Remainder Value

print('--------------------------------------------------------------')

a = 7

b = 2

print('Division ( / ) :', a / b)

print('Modulas ( % ) :', a % b)

print('--------------------------------------------------------------')

a = 7

b = 2

print('Floor Division ( // ) :', a // b)

print('Exponentiation ( ** ) :', a ** b) # a ** b --> 7 ** 2 --> 7 * 7 --> 49

Addition ( + ): 12
Subtraction ( - ): 8
Multiplication ( * ) : 20
Division ( / ) : 5.0
Modulas ( % ) : 0
--------------------------------------------------------------
Division ( / ) : 3.5
Modulas ( % ) : 1
--------------------------------------------------------------
Floor Division ( // ) : 3
Exponentiation ( ** ) : 49

# 2. Arithmatic Assignment Operators :
--------------------------------------

In [8]:
# Assignment Operators

a = 10

print(a)

# Arithmatic Assignment Operators : (+=, -=, *=, /=, //=, **=, %=)

a = 20
print(a)

a += 1 # a = a + 1

print('a += 1 : ', a)

print('--------------------------------')

a = 20
print(a)

a -= 1 # a = a - 1

print('a -= 1 : ', a)

10
20
a += 1 :  21
--------------------------------
20
a -= 1 :  19

# 3. Relational or comparision Operators :
------------------------------------------
    ( ==, !=, <, >, <=, >=)

In [12]:
a = 10

b = 15

print('a == b : ', a == b) # 10 == 15 -to Check two given nuber is equal

print('a != b : ', a != b) # 10 != 15 -to Check two given nuber is not equal

print(a < b) # 10 < 15

print(a > b) # 10 > 15

print(a <= b) # 10 <= 15

print(a >= b) # 10 >= 15

a == b :  False
a != b :  True
True
False
True
False

If 
--

In [15]:
age = 18

print(age >= 18)

if (age >= 18):
    print(age, 'you are eligible for vote')

True
18 you are eligible for vote

If & Else
---------

In [17]:
age = 10

print(age >= 18)

if (age >= 18):
    print(age, 'you are eligible for vote')

else:
    print(age, 'you are not eligible for vote')

False
10 you are not eligible for vote

Elif
----

In [20]:
age = 18

print('age > 18 : ', age > 18)

print('age >= 18 : ', age == 18)

if (age > 18):
    print(age, 'you are eligible for vote')
elif (age >= 18):
    print(age, ' is Partially Vote Elgible')
else:
    print(age, 'you are not eligible for vote')

age > 18 :  False
age >= 18 :  True
18  is Partially Vote Elgible

# 4. Logical Operators
----------------------
    (and, or, not)

In [27]:
a = 10

b = 15

print('a == b : ', a == b)

print('a != b : ', a != b)

# Logical and Operators

print('Logical and Operators : ', (a == b) and (a != b)) # Any one condition have a false then everything is false

# Logical or Operators

print('Logical or Operators : ', (a == b) or (a != b)) # Any one condition have a true then everything is true

# Logical not Operators

print('Logical not Operators : ', not(a == b))

print('Logical not Operators : ', not((a == b) and (a != b)))

a == b :  False
a != b :  True
Logical and Operators :  False
Logical or Operators :  True
Logical not Operators :  True
Logical not Operators :  True

In [ ]:
'''
ToDay Task :

How to Write the python code for below Output

Logical and Operators

True + False = False
False + True = False
False + False = False
True + True = True

Logical or Operators

True + False = True
False + True = True
False + False = False
True + True = True

Logical not Operators

not(False) = True

not(True) = False

not((False) and (True)) = True

not((False) or (True)) = False


'''

# 5. In, Not In Operators
-------------------------

In [4]:
'''
List is a collection of Data Type. 
Used for Store n number of values and diffrent datatype values can be store in a single variable
List values are declare ' [ ] '.
'''

studentDetails = ['Sara', 25, 9500912258, 'TN']

print(studentDetails, type(studentDetails))

print('-------------------------------------------------------------------')

# In Operators

print('Sara' in studentDetails)

print('Ram' in studentDetails)

print('-------------------------------------------------------------------')

# Not in OPerators

print('Sara' not in studentDetails)

print('Ram' not in studentDetails)

['Sara', 25, 9500912258, 'TN'] <class 'list'>
-------------------------------------------------------------------
True
False
-------------------------------------------------------------------
False
True

# 6. Is, IS Not Operators
-------------------------

In [12]:
a = 'admin'

b = 'admin'

print(a, ' - ', id(a))

print(b, ' - ', id(b))

print(a is b)

print('--------------------------------------------------')

list1 = ['Sara', 25, 9500912258, 'TN']

list2 = ['Sara', 25, 9500912258, 'TN']

print(list1, ' - ', id(list1))

print(list2, ' - ', id(list2))

print(list1 is list2)

print('--------------------------------------------------')

print(list1 is not list2)

admin  -  2310986053680
admin  -  2310986053680
True
--------------------------------------------------
['Sara', 25, 9500912258, 'TN']  -  2310986090752
['Sara', 25, 9500912258, 'TN']  -  2310986090240
False
--------------------------------------------------
True

# 7. Bitwise OPerators :
------------------------

In [ ]:
'''
& - Bitwise and Operators
| - Bitwise or Operators
^ - Bitwise xor Operators
~ - Bitwise not OPerators

left Shift Operators
Right Shift Operators
'''

'''
0 = False
1 = True
'''

In [2]:
# 1. & - Bitwise and Operators
'''
a = 10 = 1010

b = 2  = 0010 (&) Any one value have False everythig is False
-------------
         0010
'''

a = 10

b = 2

print('Bitwise and Operators : ', a & b)

Bitwise and Operators :  2

In [3]:
# 2. | - Bitwise or Operators
'''
a = 10 = 1010

b = 2  = 0010 (|) Any one value have True everythig is True
-------------
         1010
'''

a = 10

b = 2

print('Bitwise or Operators : ', a | b)

Bitwise or Operators :  10

In [4]:
# 3. | - Bitwise xor Operators
'''
a = 10 = 1010

b = 2  = 0010 (^) Both values are have True everythig is False
-------------
         1000
'''

a = 10

b = 2

print('Bitwise xor Operators : ', a ^ b)

Bitwise xor Operators :  8

In [8]:
# 4. ~ - Bitwise not OPerators

'''
a = 10
~a = ~10 = -(a + 1) = -(10 + 1) = -(11) = -11
'''

a = 10

print('Bitwise not OPerators : ', ~a)

'''
b = -9
~b = ~(-9) = -(b + 1) = -(-9 + 1) = -(-8) = 8
'''

b = -9

print('Bitwise not OPerators : ', ~b)

Bitwise not OPerators :  -11
Bitwise not OPerators :  8

In [11]:
# left Shift Operators

'''
a = 10 << 2 = a * (2 * 2) = 10 * (2 * 2) = 10 * (4) = 40
'''

a = 10

print('left Shift Operators : ', a << 2)

'''
b = 10 << 3 = b * (2 * 2 * 2) = 10 * (2 * 2 * 2) = 10 * (8) = 80
'''
b = 10

print('left Shift Operators : ', b << 3)

left Shift Operators :  40
left Shift Operators :  80

In [13]:
# Rigth Shift Operators

'''
a = 10 >> 2 = a / (2 * 2) = 10 / (2 * 2) = 10 / (4) = 2.5
'''

a = 10

print('Rigth Shift Operators : ', a >> 2)

'''
b = 10 >> 3 = b / (2 * 2 * 2) = 10 / (2 * 2 * 2) = 10 / (8) = 1.25
'''
b = 10

print('Rigth Shift Operators : ', b >> 3)

Rigth Shift Operators :  2
Rigth Shift Operators :  1