Python Data type & variables
----------------------------

In [3]:
# Single Line Comment

'''
Multi
Line
Comment
'''

print('Welcom Python')

Welcom Python

In [10]:
# Variables

name = 'Admin'

age = 25

average = 90.5

married = True

print(name)

print(age)

print(average)

print(married)

Admin
25
90.5
True

Data Types
----------
    1. int(Integer)   - 0 to 9
    2. float          - 10.5,...(decimal values)
    3. str(String)    - a to z, A to Z, Special Charecters (!, @, #, $,....), all numeric values used with in Single quote (' ')
    4. bool(Boolean)  - True, False

In [11]:
# Data Types

print(name, type(name))

print(age, type(age))

print(average, type(average))

print(married, type(married))

name <class 'str'>
25 <class 'int'>
90.5 <class 'float'>
True <class 'bool'>

Concotination
-------------

In [29]:
name = 'Admin'

age = 25

mobile = 9500912258

print(name, 'age is', age, '-', mobile)

Admin age is 25 - 9500912258

Addition of Two Numbers
-----------------------

In [19]:
value01 = 10

value02 = 20

print(value01 + value02)

30

Subtraction of Two Numbers
--------------------------

In [9]:
value01 = 30

value02 = 20

subtraction = value01 - value02

print(value01, '-', value02, '=', subtraction) # 30 - 20 = 10

print(value01, '+', value02, '=', value01 + value02) # 30 - 20 = 10

30 - 20 = 10
30 + 20 = 50

Python Input:
-------------

In [4]:
name = input('Enter your name : ')

print(name, type(name))

Enter your name :  Admin

Admin <class 'str'>

In [8]:
BOY = int(input('Enter your Birth Year : '))

print(BOY, type(BOY))

print('------------------------')

age = 2025 - BOY

print('Your age is : ', age)

Enter your Birth Year :  1999

1999 <class 'int'>
------------------------
Your age is :  26

In [ ]:
'''
Today Task:

To write the python code for this Output

Enter a value01 = 20

Enter a value02 = 30

20 + 30 = 50
20 - 30 = -10
20 * 30 = 600
20 / 30 = 0.66666
'''